    <robot name="ap1">
    <link name="base_link">
        <visual>
            <origin
                    xyz="-0.363 0.3085 0.2883"
                    rpy="0. 1.57 -1.57"/>
            <geometry>
                <mesh
                        filename="package://dt_launch/meshes/ap1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material
                    name="">
                <color
                        rgba="0.96 0.81 0.36 1"/>
            </material>
        </visual>
    </link>
    


    <link name="rslidar">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <cylinder length="0.05" radius="0.03"/>
            </geometry>
            <material name="gray"/>
        </visual>
    </link>
    
    <joint name="rslidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="rslidar"/>
        <origin xyz="0.44 0.00 1.34" rpy="0.0 0.0 0.0"/>
    </joint>

    <link name="imu_link">  
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size = "0.01 0.01 0.01"/> 
            </geometry>
            <material name="gray"/>
        </visual>  
    </link>

    <joint name="imu_joint" type="fixed">
        <axis xyz="0 0 0"/>
        <origin xyz="0.57 0.0 0.0" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="imu_link" />
    </joint>   

</robot>